@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Apply global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #dfdfdc 0, #928c8c 100%);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #8a0d9b;
}

/* Style scoreboard */
.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.scoreboard > div {
    font-size: 2rem;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 2px solid #8a0d9b;
    border-radius:10px;
    color: #8a0d9b;
}

/* Style choices */
.choices {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.choice {
    border: 2px solid #8a0d9b;
    border-radius: 10px;
    margin: 0 2rem;
    padding: 2rem;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0,0 ,0,.175)
}

.choice:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0 ,0,.175), 0 -6px 18px rgba(0,0 ,0,.125);
}

.choice:active {
    transform: scale(0.9);
}

.choice i {
    font-size: 50px;
    color: #8a0d9b;
}

/* Style result */
.result {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: #8a0d9b;
}

#computer-choice {
    text-align: center;
    font-size: 2rem;
    color: #8a0d9b;
}


/* Style play again button */
.play-again {
    display: block;
    margin: 3rem auto 1rem auto;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #8a0d9b;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 6px 12px rgba(0,0 ,0,.175)
}

.play-again:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0 ,0,.175), 0 -6px 18px rgba(0,0 ,0,.125);
} 


.play-again:active {
    transform: scale(0.9);
}

/* Add responsive design */
@media only screen and (max-width: 600px) {
  .choices {
      flex-wrap: wrap;
}

  .choice {
      margin: 2rem 1rem;
}
}